@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5F9FF;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d47a1;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}